apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: redis-pdb
  annotations:
    meta.helm.sh/release-name: "{{ .Release.name }}"
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: redis
